/* Navbar */

nav {
    background-color: #222;
    color: white;

    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    margin: 0;
    font-size: 18px;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links span {
    cursor: pointer;
}


/* Welcome */

.welcome {
    padding: 30px;
}

.welcome h1 {
    margin: 0;
    font-size: 28px;
}


/* Dashboard */

main {
    padding: 0 30px 30px;
}


/* Stat Cards */

.stats-container {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.stat-card {
    background-color: white;

    border: 1px solid #ccc;
    border-radius: 6px;

    width: 150px;

    padding: 15px;
}

.stat-card h3 {
    margin: 0 0 15px;
    font-size: 16px;
}

.stat-card h2 {
    margin: 0;
    font-size: 24px;
}


/* Recent Tasks */

main > h2 {
    font-size: 20px;
    margin-bottom: 15px;
}


/* Task Cards */

.tasks-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.task-card {
    background-color: white;

    border: 1px solid #ccc;
    border-radius: 6px;

    padding: 18px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-card h3 {
    margin: 0;
    font-size: 16px;
}

.task-card p {
    margin: 0;
}